$unimelbBlue: #094183;
.navbar{
  height: 10vh;
  color: white;
  background-color: black;
  //padding: 10px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
  overflow: auto;
  // flex-direction: column;
	.logo{
    display: flex;
    align-items: center;
    justify-content: center;

		img{
			width: 120px;
      height: 60px;
      margin-left: 20px;
      margin-right: 20px;
		}
	}
	.links{
		display: flex;
		align-items: center;
		gap:10px;

    img{
			width: 70px;
      height: 60px;
      margin-left: 20px;
      margin-right: 20px;
		}
	
		h6{
      font-size: 16px;
			font-weight: 300;
		}
	
		span{
			cursor: pointer;
		}

    .link{
      color: wheat;
    }
	
		.write{
			background-color: $unimelbBlue;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display:flex;
			align-items: center;
			justify-content: center;
			font-weight: 300;
			border: 1px solid white;
						
			&:hover{
				width: 48px;
				height: 48px;
				color:teal;
				background-color: white;
				border: 1px solid teal;
			}
		}
	}
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  // .main {
  //   width: 80%;
  //   padding: 0;
  // }
  // .right {
  //   width: 100%;
  // }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  // .menu, .main, .right {
  //   width: 100%;
  // }
  .navbar{
    flex-direction: column;
    // float: left;
    min-height: 90vh;
    height: auto;
    min-width: 5vw;
    align-items:start;
    justify-content:start;

    .logo{
      flex-direction: column;
      align-items:start;
      padding-left: 5px;
      margin-bottom: 20px;

    }
    .links{
      flex-direction: column;
      align-items:start;
      padding-left: 5px;
    }
  }
}